body{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

form{  
display: flex;
flex-direction: column;
gap:15px;
margin-bottom: 40vh;
}

label {
    display: flex;
    flex-direction: column;
}